/***********White List************/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  /* Color Variables */
  --primary-color: #00350e; /*Use with primary-color-light to get the button gradients*/
  --primary-color-light: #009f13; /* Combine with the one above for button gradient*/
  --primary-color-lightest: #9afbb4; /* Input background */
  --input-bg-focus: #dcf1e2;
  --side-nav-hover: #202926;
  --bg-box-dark-mode: #1f1f1f;
 /* button gradients for dark mode */
  --button-color-light: #009F13; 
  --button-color-dark: #014D15;

  /* Background colors for pages */
  --bg-color-light: #f4f7f5;
  --bg-color-dark: #18201d;
  --box-bg-color-light: #b9f9d8;
  --box-bg-color-light-2: #eff9f4;
  --box-bg-color-light-2-hover: #e2f4eb;

  /* Navigation backgrounds */
  --background-nav-light: #ecf3ee9e;
  --background-nav-black: #151c1988;
  
  /* Green text color*/
  --text-color-light: #00A514; /* For Light Mode*/
  --text-color-dark: #00350e; /* For Light Mode*/
  --text-color-light2: #00A514; /* For Dark Mode*/
  --text-color-dark2: #74FF99; /* For Dark Mode*/
  --msg-snippet-color: #71967B;
  --footer-link-color: #5c605d; /* For Links at the Prelim pages */

  /* Other color  props*/
  --grey-color: #797777;
  --black-color: #191e1d;
  --primary-opacity: #a8f9cf; /* For shadows on buttons or containers*/
  --black-color: #151818;  /* too harsh for shadows */ 
  --shadowBlack-color: rgba(0, 0, 0, 0.05);
  --white-color: #fff;
  --warning-color: #ffe135;
  --success-color: #03c04a;
  --danger-color: #f6585e;
  --primary-opacity-2: #b1c9bd; /* For shadows on inputs, buttons or containers*/
  
  /********* Font Variables in ems **********/
  --font-size-smallest: 0.6em;
  --font-size-small: 0.8em;
  --font-size-medium: 1em;
  --font-size-average: 1.2em;
  --font-size-big: 1.5em;
  --font-size-bigger: 2em;
  --font-size-biggest: 3em;
}

/*********** Font ***********/
/**Fonts**/
@font-face {
  font-family: inter;
  src: url('../font/inter-v20-latin-regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: inter;
  src: url('../font/inter-v20-latin-italic.woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: inter;
  src: url('../font/inter-v20-latin-600.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: inter;
  src: url('../font/inter-v20-latin-600italic.woff2');
  font-weight: bold;
  font-style: italic;
}
/*************** End of Fonts ****************/
body{
  background: var(--bg-color-light);
  font-family: inter, sans-serif;
  width: 100%;
}
section{
  width: 100%;
  padding: 20px 50px;
  margin: 10px auto;
}
button{
  border: none;
  font-weight: bold;
  margin: 0px auto;
  cursor: pointer;
  border: none;
  transition: 1s;
}

/* ++++++++++++++ ++++++++++++++*/

@media (prefers-color-scheme: dark) {
  body{
    background: var(--bg-color-dark);
  }
}

@media (max-width: 1200px){
  /**rules for tablets**/ 
  section{
    padding: 20px 40px;
  }
}

@media (max-width: 500px){
  /**rules for mobile**/ 
  section{
    padding: 30px;
  }
}