@import url('../assets/css/global.css');

/*********** Registration Header **********/
.register-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 30px
}
.register-cont .left-side{
    width: 100%;
    max-width: 500px;
    flex: 0 0 auto;
    text-align: center; /*Assuming texts will be on the register left-side space*/
    margin: 0px auto;
}
.register-cont .left-side .left-img{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.register-cont .left-side h2{
    color: var(--text-color-light);
    font-size: var(--font-size-medium);
    font-weight: bold;
}
.register-cont .left-side p{
    color: var(--text-color-light);
    font-size: var(--font-size-small);
    font-weight: normal;
}
.register-cont .register{
    max-width: 400px;
    margin: 0px auto;
    padding: 30px;
}
.input-cont{
    position: relative;
    width: 100%;
}
.register-cont .register .reg-input{
    color: var(--primary-color);
    font-size: var(--font-size-small);
    font-weight: normal;
    width: 100%;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 10px;
    background: var(--primary-color-lightest);
    outline: none;
    margin: 5px auto; 
    box-shadow: 0px 5px 5px var(--primary-opacity);
    transition: 1s;
}
.register-cont .register .reg-input:focus{
    border: none;
    background: var(--input-bg-focus);
    box-shadow: 0px 5px 5px var(--shadowBlack-color);
    outline: none;
}
.register-cont .register .reg-input::placeholder{
    color: var(--primary-color);
    font-size: var(--font-size-medium);
}
.check-cont{
    width: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    line-height: 1;
    padding: 0px;
    box-shadow: none;
}
.regular-texts{/*for regular texts within the prelim pages*/
    color: var(--primary-color);
    font-size: var(--font-size-small);
    line-height: 120%;
}
a{/*for prelim links*/
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.error{/*For printing input errors*/
    font-size: var(--font-size-smallest);
    color: var(--danger-color);
    text-align: left;
    font-style: italic;
}
@media (prefers-color-scheme: dark) {
    .register-cont .left-side h2{
        color: var(--text-color-light2);
        font-size: var(--font-size-big);
    }
    .regular-texts{
        color: var(--white-color);
    }
    a{/*for prelim links*/
        color: var(--text-color-dark2);
    }
    .register-cont .register .reg-input{
        box-shadow: 0px 5px 5px var(--shadowBlack-color);
    }
}

@media (max-width: 900px){
  /**rules for small screen tablets**/ 
    .register-cont .left-side{
        display: none;
    }
}

@media (max-width: 500px){
  /**rules for mobile**/ 
    .register-cont .register{
        width: 100%;
    }
    .regular-texts{
        font-size: var(--font-size-smallest);
    }

}