.comment{
    width: 500px;
    height: 90vh;
    padding: 20px;
    position: fixed;
    background: var(--white-color);
    box-shadow: 0px 5px 5px var(--shadowBlack-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s 2s;
    border-radius: 20px;
    z-index: 21;
    overflow: hidden;
}
.comment .display-comment{
    height: auto;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}
.comment .comment-input{
    width: 100%;
    background: var(--background-nav-light);
    position: fixed;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    box-sizing: border-box;
}
.main-comment{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
    color: var(--primary-color);
    gap: 10px;
}
.main-comment .left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px
}
.main-comment .right{
    align-self: center;
    cursor: pointer;
}
.main-comment .left .avatar{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    align-self: center;
}
.main-comment .left .center{
    width: 100%;
    text-align: left;
}
.main-comment .left .center .handle{
    font-size: var(--font-size-small);
    color: var(--primary-color);
    font-weight: bold;
    margin: 5px auto;
    cursor: pointer;
}
.main-comment .left .center .message{
    font-size: var(--font-size-small);
    font-weight: normal;
}
.center .activity{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px auto;
    gap: 30px;
}
.center .activity .activity-link{
    font-size: var(--font-size-smallest);
    color: var(--grey-color);
    cursor: pointer;
}
.comment-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(70%);
    background: rgba(22, 23, 22, 0.763);
    z-index: 20;
}
.comment .cancel{
    font-size: var(--font-size-average);
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--primary-color);
    cursor: pointer;
}

@media (prefers-color-scheme: dark){
    .comment{
        background: var(--bg-box-dark-mode);
        /* border: 1px solid var(--primary-color-light); */
        box-shadow: 0px 5px 5px var(--shadowBlack-color);
    }
    .comment .cancel{
        color: var(--white-color);
    }
    .comment h2{
        color: var(--white-color)
    }
    .comment p{
        color: var(--white-color)
    }
    .main-comment .left .center .handle{
        color: var(--white-color)
    }
    .main-comment .left .avatar{
        border: 2px solid var(--primary-color-lightest);
    }
    .main-comment .right{
        color: var(--white-color)
    }
    .comment .comment-input{
        background: var(--bg-box-dark-mode);
    }
}
@media (max-width: 500px){
    .comment{
        width: 100%;
        max-width: 100%;
        height: 80vh; /* fills most of the viewport */
        position: fixed;
        left: 50%;
        bottom: 0;
        top: auto;
        transform: translateX(-50%) translateY(100%); 
        border-radius: 20px 20px 0 0;
        padding: 10px;
        animation: slideUp 0.4s ease forwards;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }
    .comment .comment-input{
        position: absolute; /* inside modal bottom */
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .comment .display-comment{
        margin-top: 30px;
    }
    @keyframes slideUp {
        from {
        transform: translateX(-50%) translateY(100%);
        }
        to {
        transform: translateX(-50%) translateY(0);
        }
    }
}