.header{
    position: fixed;
    /* margin-left: 20%; */
    width: calc(100% - 20%);
    /* width: 100%; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    background: var(--background-nav-light);
    /* filter: blur(5px);  */
    border-bottom: 1px solid var(--primary-opacity);
    gap: 30px;
    text-align: center;
    color: var(--primary-color);
    line-height: 1;
    z-index: 2;
}
.header h2{
    color: var(--primary-color);
    font-size: var(--font-size-big);
}
.header .icon{
    font-size: var(--font-size-big);
    cursor: pointer;
    color: var(--primary-color)
}
.header .icon a{
    color: var(--primary-color)
}
.header .left{
    align-self: center;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px
}
.header .right{
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    min-width: max-content;
    gap: 20px
}
.header .icon-right{
    display: none;
}

/* .header .right button {
  display: inline-block !important;
} */
@media (prefers-color-scheme: dark){
    .header{
        color: var(--white-color);
        background: var(--background-nav-black);
        border-bottom: none;
        box-shadow: 0px 5px 5px var(--shadowBlack-color);
    }
    .header h2{
        color: var(--white-color);
    }
    .header .icon a{
        color: var(--white-color)
    }
}
/* @media (max-width: 1000px){
    .header{
        margin-left: 20%;
    }
} */
@media (max-width: 500px){
    .header{
        margin-left: 0px;
        width: 100%;
    }
    .header .icon-right{
        display: block;
    }
    .header .icon{
        font-size: var(--font-size-big);
    }
}