.modal{
    width: 400px;
    /* min-height: 250px; */
    height: auto;
    padding: 20px;
    position: fixed;
    background: var(--white-color);
    border: 1px solid var(--primary-color-lightest);
    box-shadow: 0px 5px 5px var(--shadowBlack-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s 2s;
    border-radius: 20px;
    z-index: 21;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(70%);
    background: rgba(22, 23, 22, 0.763);
    z-index: 20;
}
.modal .cancel{
    font-size: var(--font-size-average);
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--primary-color);
    cursor: pointer;
}
.modal h2{
    font-size: var(--font-size-average);
    text-align: center;
    color: var(--primary-color);
    margin: 10px auto;
}
@media (prefers-color-scheme: dark){
    .modal{
        background: var(--background-nav-black);
        border: 1px solid var(--primary-color-light);
        box-shadow: 0px 5px 5px var(--shadowBlack-color);
    }
    .modal .cancel{
        color: var(--white-color);
    }
    .modal h2{
        color: var(--white-color)
    }
    .modal p{
        color: var(--white-color)
    }
}
@media (max-width: 500px){
    .modal{
        width: 90%;
        /* min-height: 300px; */
        height: auto;
        padding: 20px;
        margin: 0px auto;
    }
    
}