.search-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--box-bg-color-light-2);
  /* box-shadow: 0px 1px 3px var(--primary-opacity-2); */
  border: 1px solid var(--box-border-light);
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  transition: all 0.3s ease;
  cursor: pointer;
}
.search-card:hover{
  background-color: var(--box-bg-color-light-2-hover);
}
/* Left Section */
.search-card-left{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.user-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.username{
  color: var(--text-color-dark);
  font-size: var(--font-size-small);
  font-weight: 500;
}
.ad-tag{
  color: var(--msg-snippet-color);
  font-size: var(--font-size-smallest);
}
.price{
  color: var(--primary-color);
  font-size: var(--font-size-average);
  font-weight: bold;
  margin: 4px 0;
}
.label{
  color: var(--msg-snippet-color);
  font-size: var(--font-size-small);
}
.value {
  color: var(--text-color-dark);
  font-weight: bold;
  font-size: var(--font-size-small)
}
.house-type {
  color: var(--msg-snippet-color);
  font-size: var(--font-size-small);
  margin-top: 4px;
}
/* Right Section */
.search-card-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.image-placeholder,
.house-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--light-green-color-hover);
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeholder-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.house-image {
  object-fit: cover;
}
.arrow-icon {
  color: var(--msg-snippet-color);
  font-size: var(--font-size-small);
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  .search-card {
    background: var(--background-nav-black);
    border: 1px solid var(--box-border-dark);
    box-shadow: 0px 1px 3px var(--shadowBlack-color);
    color: var(--white-color)
  }
  .search-card:hover {
    background-color: var(--black-color);
  }
  .username,
  .value,
  .price {
    color: var(--white-color);
  }
  .label,
  .ad-tag, .house-type {
    color: var(--primary-opacity);
  }
  .placeholder-icon {
    color: var(--primary-color-light);
  }
}
