.tabbed-nav{
    width: 100%;
    padding: 0px 20px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    /* background: var(--input-bg-focus); */
    text-align: left;
    border-bottom: 1px solid var(--grey-color);
    gap: 20px;
}
.tabbed-nav a{  
    color: var(--primary-color);
    font-size: var(--font-size-medium);
    padding-bottom: 6px;
}
.tabbed-nav a.active{
    border-bottom: 2px solid var(--primary-color-light)
}

@media(prefers-color-scheme: dark){
    .tabbed-nav a{
        color: var(--white-color);
    }
}